*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    

}
body{
    /* width: 100%; */
    height: 95vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
sub{
    font-size: 14px;
}
.navbar{
    width: 100%;
    /* height: 6vh; */
    display: flex;
    justify-content:space-between;
    background-color: lightcoral;
    padding: 10px 0px;
   


}
.out{
    margin-right: 20px;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.bodycontent{
    width: 70%;
    height: 100vh;
}
.image{
    width: 70%;
    display: flex;
    justify-content: center;
}
.notification{
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: lightcoral;
    width: 20%;
    gap: 10px;
    padding: 5px 2px;
    height: 100vh;
    
}
.info{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 10px;
}
button{
    text-decoration: none;
    /* background-color: #121212; */
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
}
button:hover{
    background-color: lightgoldenrodyellow;
    color: black;
}
.logout{
    background-color: lightcoral;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.l1{
    background-color: lightgoldenrodyellow;
    position: relative;
    /* bottom: 20px; */
}
.l2{
    position:absolute;
    bottom: 20px;
}

.logout:hover{
    background-color: lightgoldenrodyellow;
    color: black;
}
.l1:hover{
    background-color: lightcoral;
    color:white
}   

